@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75%;
}

@media (min-width: 768px) {
  html{
    font-size: 100%;
  }
}
  
.bar1, .bar2, .bar3 
{
    transition: 0.4s;
}
  
/* Rotate first bar */
.change .bar1 
{
    transform: rotate(-45deg) translate(-7px, 5px) ;
}
  
/* Fade out the second bar */
.change .bar2 
{
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 
{
    transform: rotate(45deg) translate(-7px, -5px) ;
}

#text a{
  color: #014185;
  font-weight: bold;
}

.loading-bg {
  animation: 1s linear 0s infinite alternate loading;
}

@keyframes loading { from { background-color:gray; } to { background-color:lightgrey; }  }

.slick-track {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slick-track .slide {
  display: flex !important;
  width: 100vw !important;
}