@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

html {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75%;
}

@media (min-width: 768px) {
  html{
    font-size: 100%;
  }
}
  
.bar1, .bar2, .bar3 
{
    transition: 0.4s;
}
  
/* Rotate first bar */
.change .bar1 
{
    transform: rotate(-45deg) translate(-7px, 5px) ;
}
  
/* Fade out the second bar */
.change .bar2 
{
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 
{
    transform: rotate(45deg) translate(-7px, -5px) ;
}